<div class="row">
    <font color="red" size="4" face="verdana">
        <h2 class="page-header" align="enter">Note presenti sul Database
            <button class="btn btn-primary col-lg-offset-4" ng-click="ngTableDemoController.createNoteWithModal()">Crea!
            </button>
        </h2>
    </font>
    <font color="blue" size="3" face="verdana">
        <table ng-table="ngTableDemoController.tableParams" class="table" show-filter="true">
            <tr ng-repeat="note in $data">
                <td title="'Codice'" filter="{ id: 'number'}" sortable="'id'">
                    {{note.id}}</td>
                <td title="'Titolo'" filter="{ titolo: 'text'}" sortable="'title'">
                    {{note.title}}</td>
                <td title="'Contenuto'" filter="{ contenuto: 'text'}" sortable="'content'">
                    {{note.content}}</td>
            </tr>
        </table>
    </font>
</div>