<div class="modal-header">
    <h3 class="modal-title" id="modal-title" align="center" >Creazione di una nuova nota</h3>
</div>
<div class="modal-body" id="modal-body">
        <ul>
       <form name="myForm" novalidate>
	<div class="row">
		<div class="form-group col-md-6 col-lg-offset-3" ng-class="{ 'has-error' : myForm.title.$invalid }">
			<label for="title">Titolo</label>
			<input type="text" class="form-control" id="title" name="title" placeholder="Titolo"
				ng-model="modal.title" ng-maxlength="20" required>
		</div>
	</div>
	<span class="error col-lg-offset-5" ng-show="myForm.title.$error.required" style="color:red;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Richiesto!</b></span><br><br>
	<div class="row">
		<div class="form-group col-md-6 col-lg-offset-3" ng-class="{ 'has-error' : myForm.content.$invalid }">
			<label for="content">Contenuto</label>
			<textarea rows="4" class="form-control" id="content" name="content" placeholder="Contenuto"
				ng-model="modal.content" ng-maxlength="50" required></textarea>
		</div>
	</div>
	<span class="error col-lg-offset-5" ng-show="myForm.content.$error.required" style="color:red;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Richiesto!</b></span><br><br>
</form>
    </ul>
</div>
<div class="modal-footer">
   <button type="submit" class="btn btn-primary col-lg-offset-3" ng-disabled="myForm.title.$invalid || myForm.content.$invalid"
		ng-click="modal.ok()">Crea!</button>
    <button class="btn btn-warning" type="button" ng-click="modal.cancel()">Cancel</button>
</div>